.navbar-header {
  background: linear-gradient(30deg,#00008B , #4B0082);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
.logo {
  color: #ececec;
  font-size: 25px;
}

.navbar-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
}

.add-task-button {
  background-color: #4B0082;
  border-color: aliceblue;
}

.add-task-button:hover {
  background-color: #701cab !important;
  border-color: aliceblue;
}
